<div class="container">
    <footer class="row row-cols-1 row-cols-sm-2 row-cols-md-5 py-5 my-5 border-top">
        <div class="col mb-3"> <a href="/"
                class="d-flex align-items-center mb-3 link-body-emphasis text-decoration-none" aria-label="Bootstrap">
                <svg class="bi me-2" width="40" height="32" aria-hidden="true">
                    <use xlink:href="#bootstrap"></use>
                </svg> </a>
            <p class="text-body-secondary">©2025 Universidad Galileo Departamento de Informática</p>
        </div>
        <div class="col mb-3"></div>
        <div class="col mb-3">
            <h5>Contáctanos</h5>
            <ul class="nav flex-column">
                <li class="nav-item mb-2">
                    <a href="{% url 'contacto' %}" class="nav-link p-0 text-body-secondary">Contacto</a>
                </li>
                <li class="nav-item mb-2">
                    <a href="{% url 'contacto2' %}" class="nav-link p-0 text-body-secondary">Contacto 2</a>
                </li>
                <li class="nav-item mb-2">
                    <a href="{% url 'contacto3' %}" class="nav-link p-0 text-body-secondary">Contacto 3</a>
                </li>
                <li class="nav-item mb-2">
                    <a href="{% url 'evento' %}" class="nav-link p-0 text-body-secondary">Configuración</a>
                </li>
            
            </ul>
        </div>
        <div class="col mb-3">
            <h5>Ayuda</h5>
            <ul class="nav flex-column">
                <li class="nav-item mb-2">
                    <a href="#" class="nav-link p-0 text-body-secondary">Home</a></li>
                <li class="nav-item mb-2">
                    <a href="#" class="nav-link p-0 text-body-secondary">Features</a></li>
                <li class="nav-item mb-2">
                    <a href="#" class="nav-link p-0 text-body-secondary">Pricing</a></li>
                <li class="nav-item mb-2">
                    <a href="#" class="nav-link p-0 text-body-secondary">FAQs</a></li>
                <li class="nav-item mb-2">
                    <a href="#" class="nav-link p-0 text-body-secondary">About</a></li>
            </ul>
        </div>
        <div class="col mb-3">
            <h5>Eventos</h5>
            <ul class="nav flex-column">
                <li class="nav-item mb-2">
                    <a href="#" class="nav-link p-0 text-body-secondary">Próximos Eventos</a>
                </li>
                <li class="nav-item mb-2">
                    <a href="#" class="nav-link p-0 text-body-secondary">Eventos Pasados</a>
                </li>
                <li class="nav-item mb-2">
                    <a href="#" class="nav-link p-0 text-body-secondary">Fotografías</a>
                </li>
                <li class="nav-item mb-2">
                    <a href="#" class="nav-link p-0 text-body-secondary">About</a>
                </li>
            </ul>
        </div>
    </footer>
</div>