
{% extends "layout/base.html" %}
{% load static %}

{% block content %}
    <h1>{{title}}</h1>
    <p>{{description}}</p>

<div x-data="eventosHandler()" x-init="cargarEventos()">
  <template x-if="cargando">
    <p>Cargando eventos...</p>
  </template>
<input type="search" x-model="nombre" placeholder="Buscar evento" class="form-control mb-3">
  <template x-if="!cargando">
    <ul>
      <template x-for="evento in eventosFiltrados" :key="evento.id">
        <li x-text="evento.nombre"></li>
      </template>
    </ul>
  </template>
</div>

<div class="container mt-3">
    <div class="row justify-content-between g-3">
        {% for row in ListadoEventos %}
        <div class="col-12 col-md-6 d-flex justify-content-center">
            <div class="card w-100 shadow ">
                <div class="card-body">
                    <a href="{% url 'detalle' row.id %}" class="text-reset text-decoration-none">
                        <h5 class="card-title text-center mb-3">{{ row.nombre }}</h5>
                    </a>
                    <div class="d-flex justify-content-center my-3 ">
                        {% if row.image %}
                        <img src="{{ row.image.url }}" class="w-75 shadow mb-5 bg-body-tertiary rounded" alt="{{ row.nombre }}"/>
                        {% else %}
                            <img class="w-75" src="{% static 'img/no_img.jpg' %}" alt="Imagen no encontrada" />
                        {% endif %}
                    </div>

                    <div class="d-flex justify-content-between">
                        <p class="card-text">Inicio {{row.fecha_inicio|date:"d-m-Y"}}</p>
                        <p class="card-text">Fin {{row.fecha_fin|date:"d-m-Y"}}</p>
                    </div>

                    <p class="card-text">Asignacion {{row.fecha_asig}}</p>

                    <div class="d-flex justify-content-between">
                        <div class="d-flex align-items-center gap-2">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-credit-card"
                            viewBox="0 0 16 16">
                            <path
                            d="M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2zm2-1a1 1 0 0 0-1 1v1h14V4a1 1 0 0 0-1-1zm13 4H1v5a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1z" />
                            <path d="M2 10a1 1 0 0 1 1-1h1a1 1 0 0 1 1 1v1a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1z" />        </svg>
                            <p class="card-text">Q.{{row.precio}}</p>
                        </div>
                        <div class="text-primary">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-cart-plus-fill" viewBox="0 0 16 16">
                                <path d="M.5 1a.5.5 0 0 0 0 1h1.11l.401 1.607 1.498 7.985A.5.5 0 0 0 4 12h1a2 2 0 1 0 0 4 2 2 0 0 0 0-4h7a2 2 0 1 0 0 4 2 2 0 0 0 0-4h1a.5.5 0 0 0 .491-.408l1.5-8A.5.5 0 0 0 14.5 3H2.89l-.405-1.621A.5.5 0 0 0 2 1zM6 14a1 1 0 1 1-2 0 1 1 0 0 1 2 0m7 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0M9 5.5V7h1.5a.5.5 0 0 1 0 1H9v1.5a.5.5 0 0 1-1 0V8H6.5a.5.5 0 0 1 0-1H8V5.5a.5.5 0 0 1 1 0"/>
                            </svg>
                            <a href="#" class="link-primary link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">Agregar al carrito</a>                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>


{% endblock %}  