{% extends "layout/base.html" %}

{% block content %}
<div class="container mt-4 mb-4 text-center" x-data="eventosHandler()" x-init="cargarEventos()">
  <div class="card shadow">
    <div class="card-header">
      <h2>Listado de Eventos</h2>
    </div>
    <div class="card-body">
      <template x-if="cargando">
        <p>Cargando eventos...</p>
      </template>
      <template x-if="!cargando">
        <table class="table">
          <thead>
            <tr>
              <th scope="col">Nombre del evento</th>
              <th scope="col">Fecha Inicio</th>
              <th scope="col">Fecha Fin</th>
              <th scope="col">Precio</th>
            </tr>
          </thead>
          <tbody>
            <template x-for="evento in eventos" :key="evento.id">
              <tr>
                <td class="text-start ps-5" x-text="evento.nombre"></td>
                <td x-text="evento.fecha_inicio | date:'d-m-Y'"></td>
                <td x-text="evento.fecha_fin | date:'d-m-Y'"></td>
                <td>
                  <template x-if="evento.precio == 0">
                    <span class="badge bg-success" x-text="evento.precio"></span>
                  </template>
                  <template x-if="evento.precio != 0">
                    <span class="badge bg-warning text-dark" x-text="evento.precio"></span>
                  </template>
                </td>
              </tr>
            </template>
            <template x-if="eventos.length === 0">
              <tr>
                <td colspan="4">No hay eventos registrados.</td>
              </tr>
            </template>
          </tbody>
        </table>
      </template>
    </div>
  </div>
</div>

<script>
  function eventosHandler() {
    return {
      eventos: [],
      cargando: true,
      nombre: '',

       get eventosFiltrados() {
        if (!this.nombre) return this.eventos;
        return this.eventos.filter(evento =>
          evento.nombre.toLowerCase().includes(this.nombre.toLowerCase())
        );
      },

      async cargarEventos() {
        try {
          const respuesta = await fetch('/api/eventos/');
          if (!respuesta.ok) throw new Error('Error al obtener los eventos');

          this.eventos = await respuesta.json();
          console.log(this.eventos);
        } catch (error) {
          console.error('Error en fetch:', error);
        } finally {
          this.cargando = false;
        }
      }
    }
  }
</script>
{% endblock %}